@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #171717;
  }

  :root[class~="dark"] {
    --background: #171717;
    --foreground: #fafafa;
  }
}

body {
  @apply bg-background text-foreground;
}
